:root {
    --primary: #00bbff;
    --primary-hover: #01a3d2;
    --off-white: #f5f5f5;
    --text-primary: #2e2e2e;

    --box-shadow-primary: 0px 0px 13px 2px rgba(0,0,0,0.42);

    --base-transition: ease-in-out 0.15s;
}

body,
html {
    color: var(--text-primary);
}

/**bootstrap restyle**/
.btn-primary {
    background: var(--primary);
    border: none !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: var(--primary-hover) !important;
    border: none !important;
    box-shadow: none !important;
}

.form-control.invalid {
    border-color: #dc3545;
}

/**content**/
nav.navbar {
    background-color: #171818cc!important;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: var(--primary);
    opacity: 1;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--off-white);
    transition: var(--base-transition);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--primary);
    opacity: 1;
}

nav.navbar .user-actions a {
    color: var(--off-white);
    transition: var(--base-transition);
}

nav.navbar .user-actions a:active,
nav.navbar .user-actions a:hover {
    color: var(--primary);
    text-decoration: none;
}

.columns-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.columns-container .column-left {
    width: 35%;
    height: 100%;
    position: relative;
    background: var(--off-white);
}

.logo-container {
    width: 50%;
    position: absolute;
    top: 200px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-container h2 {
    font-weight: 700;
}

.waves-container {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.waves-container svg {
    width: 100%;
}

.relative-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(210px);
}

.wave-1 {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
}

.wave-2 {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
}

.wave-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/**right column**/
.columns-container .column-right {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #f9f9f9;
}

.column-right > h1 {
    margin-bottom: 20px;
}

.column-right > h3 {
    margin-bottom: 150px;
}

.column-right > button {
    width: 33.33%;
    border-radius: 50px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

.column-right > button h2 {
    margin: 0;
    pad: 0;
}

/**about section**/
#about-us {
    border-top: 1px solid var(--primary);
    background: var(--off-white);
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
}

/**user widget**/
.user-widget {
    background-color: #111111;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0.75rem;
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 1000;
}

.user-widget .widget-username,
.user-widget a{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1rem;
}

.user-widget a {
    font-size: 0.75rem;
}

/**divider**/
.divider-vertical {
    width: 1px;
    height: 25px;
    background-color: white;
}

/**alerts**/
.alert {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    animation-name: alertAnimation;
    animation-duration: 5s;
}

@keyframes alertAnimation {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}